<!--backend/board/templates/board/department_form.html-->
<!DOCTYPE html>



<html lang="ja">
    <head>
        <meta charset="utf-8" />

        <title>Department {% if object %}更新{% else %}作成{% endif %}</title>
    </head>



    <body>
        <h1>Department {% if object %}更新{% else %}作成{% endif %}</h1>



        <form method="post">
            {% csrf_token %}
            

            
            {{ form.as_p }}

            <button type="submit">{% if object %}更新{% else %}作成{% endif %}</button>
        </form>
    </body>
</html>
