<!--backend/board/templates/board/department_confirm_delete.html-->
{% extends "base.html" %}



{% block content %}
    <h1>班を削除</h1>

    <p>削除対象: {{ object.name }}</p>



    {% if form.non_field_errors %}
        <ul>
            {% for err in form.non_field_errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}



    <form method="post">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>



    <a class="btn btn-outline-secondary" href="{% url 'department_detail' object.pk %}">詳細に戻る</a>
{% endblock %}
