<!--backend/board/templates/board/department_detail.html-->
{% extends "base.html" %}



{% block content %}
    <h1>{{ department.name }}</h1>




    <!--追加-->
    <!--リンク-->
    <div class="d-flex gap-2">
        <a class="btn btn-outline-secondary" href="{% url 'department_list' %}">一覧に戻る</a>
        <a class="btn btn-outline-primary" href="{% url 'department_update' department.pk %}">編集</a>
        <a class="btn btn-outline-danger" href="{% url 'department_delete' department.pk %}">削除</a>
    </div>



    <dl>
        <dt>uses_lot</dt>
        <dd>{{ department.uses_lot }}</dd>

        <dt>lot_g</dt>
        <dd>{{ department.lot_g }}</dd>
    </dl>
{% endblock %}
